<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michael.mbesplug_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Reflex"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionTimerInstructionsActivity"
            android:label="@string/title_activity_reaction_timer_instructions"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".BuzzerCountActivity"
            android:label="@string/title_activity_buzzer_count"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".DisplayStatsActivity"
            android:label="@string/title_activity_display_stats"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".PreBuzzReactionBuzzerActivity"
            android:label="@string/title_activity_pre_buzz_reaction_buzzer"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".BuzzReactionBuzzerActivity"
            android:label="@string/title_activity_buzz_reaction_buzzer"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".PlayerCountActivity"
            android:label="@string/title_activity_player_count"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".PlayerActivity2"
            android:label="@string/title_activity_player2"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
        <activity
            android:name=".PlayerActivity3"
            android:label="@string/title_activity_player3" >
        </activity>
        <activity
            android:name=".PlayerActivity4"
            android:label="@string/title_activity_player4"
            android:parentActivityName=".Reflex" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.michael.mbesplug_reflex.Reflex" />
        </activity>
    </application>

</manifest>
